// scss

body{
    background: {
        color:#111;
    }
}
svg{
    position: fixed;left: 0;top: 0;width: 100vw;height: 100vh;
}
#maskLayer{
    display: flex;align-items: center;justify-content: center;
    position: fixed;left: 0;top: 0;width: 100vw;height: 100vh;
}
.info{
    font-size: 70px;font-weight: bold;
    color: #000;
}


.heart{
    width: 300px;
}

.video-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width:100vw;
    height: 100vh;
}

#video{
    transform: scale(1);
    z-index: -1;position: relative;
    mask:url('#mask')
}